* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: grid;
	grid-template-columns: min-content auto;
	font-family: system-ui;
	background-color: hsl(0, 0%, 95%);
}

h1,
h2 {
	border-bottom: 2px solid black;
}

p,
li {
	color: #222;
}

canvas {
	display: block;
	/* image-rendering: crisp-edges; */
}
canvas[data-state='IDLE'] {
	cursor: pointer;
}
canvas[data-state='RUNNING'] {
	cursor: not-allowed;
}

main {
	float: left;
	margin-right: 1rem;
}

p {
	margin-top: 0;
	/* max-width: 60ch; */
}

button {
	padding: 0 0.5rem;
	border-radius: 0;
	border: 2px solid black;
	background-color: transparent;
	cursor: pointer;
}

button:hover:not(:disabled) {
	background-color: hsl(0, 0%, 90%);
}

button:disabled {
	border-color: currentColor;
	cursor: not-allowed;
}

[title] {
	cursor: help;
}

.ui {
	padding: 0 1rem;
}

.options h2 {
	margin: 0.5rem 0;
	width: 100%;
}

.buttons {
	padding-top: 0.5rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.2rem;
	width: 10rem;
	height: min-content;
}

.buttons > button {
	flex-grow: 1;
}

.misc {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.misc > div {
	display: flex;
	gap: 0.2rem;
	flex-direction: column;
}

.inputs {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.inputs label {
	font-weight: bold;
}

.inputs input {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
}
