/* || Universal reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* || Root variables */
:root {
	--pad: 0.7rem;
	--menu-width: 50ch;
	--radius: 7px;
	--accent-clr: #fd5a1e;
	--body-clr: #222;
	--menu-clr: #1a1a1a;
	--dropdown-clr: #2d2d2d;
	--content-clr: #414141;
}

/* || Body and general text styles */
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--body-clr);
	color: white;
	margin: 0;
	overflow: hidden;
	user-select: none;
	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 300;

	h1 {
		position: absolute;
		top: var(--pad);
		left: var(--pad);
		margin: 0;
		text-shadow: 0 1px 4px #ffffffaa;
		font-weight: 500;
		transition: opacity 300ms;

		&:hover {
			opacity: 0.05;
		}
	}

	p {
		margin: var(--pad) 0;
	}
}

/* || Canvas styling */
canvas {
	--s: min(100vh, 100vw);
	display: block;
	width: var(--s);
	height: var(--s);

	&[data-state="IDLE"] {
		cursor: pointer;
	}

	&[data-state="RUNNING"],
	&[data-state="EMPTY"] {
		cursor: not-allowed;
	}
}

/* || Button styles */
button {
	padding: 0.3rem 1rem;
	border: 2px solid white;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	text-transform: uppercase;
	font: inherit;
	font-weight: 400;

	&:disabled {
		border-color: currentColor;
		cursor: not-allowed;
	}
}

/* || Legends */
legend {
	font-weight: 400;
}

/* || Menus related */
.menu {
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--pad);
	background-color: var(--menu-clr);
	border-radius: var(--radius);
	box-shadow: inset 0 3px 7px #ffffff22;
	transition: opacity 200ms ease-out, width 300ms;
	width: calc(var(--menu-width) + var(--pad) + var(--pad));

	> h2 {
		display: flex;
		align-items: center;
		margin: 0 0 1rem 0;
		font-weight: 500;
		transition: margin 100ms ease-in;

		&::before {
			content: "\25B8";
			margin-right: var(--pad);
			color: #b1b1b1;
			transition: rotate 100ms ease-out, color 100ms ease-out;
		}
	}

	> .content,
	> .dropdowns {
		transition: opacity 100ms ease-in, padding 100ms ease-in;
	}

	&[data-open] > h2::before {
		rotate: 90deg;
	}

	&:not([data-open]) {
		transition: opacity 200ms ease-in, width 300ms;
		opacity: 0.3;
		width: 20ch;

		> h2 {
			transition: margin 100ms ease-out;
			margin: 0;
		}

		> .content,
		> .dropdowns {
			padding: 0 var(--content-pad);
			height: 0;
			opacity: 0;
			pointer-events: none;
		}
	}

	/* || General .content styling */
	.content {
		--content-pad: 5px;
		background-color: var(--content-clr);
		margin-top: 2px;
		width: var(--menu-width);
		overflow: hidden;
		padding: var(--content-pad);
		text-align: justify;
	}

	/* || Dropdown Component */
	.dropdown {
		> h3 {
			font-weight: 400;
			line-height: 1.3rem;
			margin: 0;
			padding: 5px;
			white-space: nowrap;
			background-color: var(--dropdown-clr);
			border-left: 2px solid transparent;
			transition: color 100ms, border-left 100ms;

			&::before {
				content: "\25B8";
				display: inline-block;
				margin-right: var(--pad);
				color: #b1b1b1;
				transition: rotate 100ms ease-out, color 100ms ease-out;
			}
		}

		> .content {
			height: 0;
			padding: 0 var(--content-pad);
			transition: height 250ms ease-out, padding 250ms ease-out;
		}

		&[data-open] {
			> h3 {
				color: var(--accent-clr);
				border-left: 2px solid var(--accent-clr);

				&::before {
					rotate: 90deg;
					color: var(--accent-clr);
				}
			}

			> .content:not(:empty) {
				height: calc(var(--height) + var(--content-pad) * 2);
				padding: var(--content-pad);
				transition: height 250ms ease-in, padding 250ms ease-in;
			}
		}

		/* Util styles */
		legend + .radio {
			border-left: 2px solid #00000033;
		}

		.sliderLabels {
			display: flex;
			align-items: center;
			column-gap: 1ch;
		}
	}

	/* Inputs */
	input {
		accent-color: var(--accent-clr);
		font: inherit;
		font-weight: 400;

		&[type="number"],
		&[type="text"][inputmode="numeric"] {
			position: relative;
			background-color: transparent;
			background-image: linear-gradient(to left, #ffffff23 80%, transparent);
			border: none;
			padding: 0;
			text-align: center;
			color: inherit;
		}
	}
}

/* || Helpers */
.sideBySide {
	display: grid;
	grid-template-columns: 2fr 1fr;
	row-gap: 3px;
	align-items: center;
	padding: 0 var(--pad);

	&.half {
		grid-template-columns: 1fr 1fr;
	}

	&.radio {
		grid-template-columns: min-content 1fr;
		column-gap: var(--pad);
	}
}

/* || Simulation buttons */
.options {
	--menu-width: 40ch;

	&:not([data-open]) {
		width: 37ch;
		overflow: hidden;
	}

	.simulation {
		position: absolute;
		top: var(--pad);
		right: var(--pad);
		display: flex;
		column-gap: 5px;
		font-size: medium;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2.5rem;
			aspect-ratio: 1;

			&::before {
				position: absolute;
				font-family: Arial, Helvetica, sans-serif;
				font-weight: 1000;
			}

			&.pause::before {
				content: "II";
			}

			&.step::before {
				content: "I\25BA";
			}

			&.skip::before {
				content: "\23ED";
				font-size: 1.2rem;
			}

			&.restart::before {
				content: "\21BB";
				font-size: 1.4rem;
			}
		}
	}

	.simulSpeed {
		display: flex;
		justify-content: center;

		.display {
			width: 5ch;
			text-align: center;
			background-color: transparent;
			border: none;
			color: inherit;
		}

		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			border-radius: 10%;
			background-color: white;
			padding: 0;
			width: 1.5rem;
			height: 1.5rem;
			margin: 5px 0;

			&:disabled {
				opacity: 0.4;
			}

			&::before {
				position: absolute;
			}

			&.increase::before {
				content: "\23F6";
				color: #212121;
			}

			&.decrease::before {
				content: "\23F7";
				color: #212121;
				translate: 0 -2px;
			}
		}
	}

	.exports {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: var(--pad);
		margin-top: var(--pad);

		button {
			padding: 1ch;
		}
	}
}
