*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--pad: 0.7rem;
	--radius: 7px;
	--accent-clr: #fd5a1e;
	--dropdown-clr: #28282899;
}

p {
	margin: var(--pad) 0;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	color: white;
	margin: 0;
	overflow: hidden;
	user-select: none;

	font-family: "Roboto Slab", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

h1 {
	position: absolute;
	top: var(--pad);
	left: var(--pad);
	margin: 0;
	text-shadow: 0 1px 4px #ffffffaa;
	font-weight: 500;
	transition: opacity 300ms;
}
h1:hover {
	opacity: 0.1;
}

canvas {
	--s: min(100vh, 100vw);
	display: block;
	width: var(--s);
	height: var(--s);
	/* image-rendering: crisp-edges; */
}
canvas[data-state="IDLE"] {
	cursor: pointer;
}
canvas[data-state="RUNNING"],
canvas[data-state="EMPTY"] {
	cursor: not-allowed;
}

button {
	padding: 0.3rem 1rem;
	border-radius: 0;
	border: 2px solid white;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	text-transform: uppercase;
	font: inherit;
	font-weight: 400;
}

button:disabled {
	border-color: currentColor;
	cursor: not-allowed;
}

legend {
	font-weight: 400;
}

/* || Classes */
.menu {
	position: absolute;
	top: 0;
	left: 0;
	padding: var(--pad);
	background-color: #1a1a1a;
	border-radius: var(--radius);
	box-shadow: inset 0 3px 7px #ffffff22;
}
.menu > :where(h2, h3) {
	margin: 0 0 1rem 0;
	font-weight: 500;
}
.menu h3 {
	font-weight: 400;
}

.menu > .content,
.dropdown {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 0;
	margin-top: 2px;
	width: 50ch;
	overflow: hidden;
}
.dropdown :where(h2, h3) {
	line-height: 1.3rem;
	margin: 0;
	padding: 5px;
	white-space: nowrap;
	background-color: var(--dropdown-clr);
	border-left: 2px solid transparent;
	transition: color 100ms, border-left 100ms;
}
.dropdown :where(h2, h3)::before {
	content: "\25B8";
	display: inline-block;
	margin: 0 var(--pad) 0 0;
	color: #b1b1b1;
	transition: rotate 100ms ease-out, color 100ms ease-out;
}
.dropdown[data-open] > :where(h2, h3) {
	color: var(--accent-clr);
	border-left: 2px solid var(--accent-clr);
}
.dropdown[data-open] :where(h2, h3)::before {
	transition: rotate 100ms ease-in, color 100ms ease-in;
	rotate: 90deg;
	color: var(--accent-clr);
}
:where(.menu, .dropdown) > .content {
	--content-pad: 5px;
	padding: var(--content-pad);
	min-width: 100%;
	text-align: justify;
}
.dropdown > .content {
	height: calc(var(--height) + var(--content-pad) * 2);
	transition: height 250ms ease-in, padding 250ms ease-in;
}
.dropdown:not([data-open]) > .content,
.dropdown > .content:empty {
	transition: height 250ms ease-out, padding 250ms ease-out;
	padding: 0 var(--content-pad);
	height: 0;
}

.menu > .content :where(h2, h3) {
	margin: 0 0 0.3rem 0;
	padding-left: var(--pad);
	text-align: center;
	white-space: nowrap;
}
.menu > .content > :last-child {
	margin-bottom: 0;
}

.sideBySide {
	display: grid;
	grid-template-columns: 2fr 1fr;
	row-gap: 3px;
	align-items: center;
	padding: 0 var(--pad);
}
.sideBySide.half {
	grid-template-columns: 1fr 1fr;
}
.sideBySide.radio {
	grid-template-columns: min-content 1fr;
	column-gap: var(--pad);
}

/* || Specific Menu Stylings */
.options .simulation {
	position: absolute;
	top: var(--pad);
	right: var(--pad);
	display: flex;
	column-gap: 5px;
}

.options .simulation button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.options .simulation ::before {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 1000;
}
.options .simulation .pause::before {
	content: "II";
}
.options .simulation .step::before {
	content: "I\25BA";
}
.options .simulation .skip::before {
	content: "\23ED";
	font-size: 1.2rem;
}
.options .simulation .restart::before {
	content: "\21BB";
	font-size: 1.4rem;
}

.menu input {
	accent-color: var(--accent-clr);
	font: inherit;
	font-weight: 400;
}

.menu input[type="number"],
.menu input[type="text"][inputmode="numeric"] {
	position: relative;
	/* background-color: #ffffff23; */
	background-color: transparent;
	background-image: linear-gradient(to left, #ffffff23 80%, transparent);
	border: none;
	padding: 0;
	text-align: center;
	color: inherit;
}

.options .simulSpeed {
	display: flex;
	justify-content: center;
}
.options .simulSpeed .display {
	width: 5ch;
	text-align: center;
	background-color: transparent;
	color: inherit;
	border: none;
}
.options .simulSpeed button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 10%;
	background-color: white;
	padding: 0;
	width: 1.5rem;
	height: 1.5rem;
	margin: 5px 0;
}
.options .simulSpeed button:disabled {
	opacity: 0.4;
}
.options .simulSpeed .increase::before {
	position: absolute;
	content: "\23F6";
	color: #212121;
}
.options .simulSpeed .decrease::before {
	position: absolute;
	content: "\23F7";
	color: #212121;
	translate: 0 -2px;
}

.exports {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: var(--pad);
	margin-top: var(--pad);
}

.dropdown legend + .radio {
	border-left: 2px solid #00000033;
}

.dropdown .sliderLabels {
	display: flex;
	align-items: center;
	column-gap: 3px;
}
